nbproject
_private
ubench_*
perf.data*
data_temp*
*.dot
log.txt
step*.txt
out*.svg
out*.png
temp_*.txt
temp.*.txt
temp.txt
compile.txt
*.pyc
time*.txt
*_bin
*_bin.old
*_data
*_data.old
*.zip
*.png
*.gif
*.mp4
*.htm
datalog*.txt
_*.txt
output
microbench_experiments/example_standard/output
microbench_experiments/example_standard/output/*
microbench_experiments/example_standard/output/_gen.sh
*.csv
data*.txt
*.sqlite
plot*.txt
output_*.txt
_output_backup
data
macrobench/bin
log.*
Makefile.var
bin
_unused
*.html
_bak
*/to_upload
*/output_tex
common/papi/a.out
microbench_experiments/daewoo_thesis/bin_*
*.nfs*
microbench/experiments/timelines/daewoo_thesis_debra/data_*
microbench_experiments/daewoo_thesis/data_*
data_llheap
data_llheap_amortized
rundb_*
log.compile.*.out
lib/libnewmalloc1.so
lib/libnewmalloc2.so
lib/libsuper0.so
lib/libsuper1_old.so
lib/libsuper1.so
lib/libsuper2.so
lib/libsuper3.so
lib/libsuper4_old.so
lib/libsuper4.so
lib/libsuper5_old.so
